<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
    <environment names="development">
        <script asp-src-include="/lib/jquery/dist/**/*.js"
                asp-src-exclude="**.min.js"></script>
    </environment>
    <environment names="staging, production">
        <script asp-src-include="/lib/jquery/dist/**/*.min.js"></script>
    </environment>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel-body">
    <div>@RenderBody()</div>
</body>
</html>