<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cities</title>
    <link asp-href-include="/lib/bootstrap/dist/**/.min.css" rel="stylesheet" />
</head>
<body class="panel-body">
    <div>@RenderBody()</div>
</body>
</html>